<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>

    <main class="categories">
        <div class="cat_banner container-fluid">
            <img src="/images/<%= category.image %> " alt="Portada de categoria <%= category.name %> ">
        </div>
        <div class="subcategories_menu-mobile">
            <div id="mySidepanel" class="sidepanel">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <% subcategories.forEach(subcategory => { %>
                    <a href="/products/subcategory/<%- subcategory %>/<%- category.id %>"><%- subcategory %></a>
                <% }) %>    
            </div>
              
            <button class="openbtn" onclick="openNav()">Subcategorias</button>
        </div>
        <h3 class="title">Subcategorías</h3>
        <hr>
        <div class="container products-container">
            <aside class="subcategories_menu-desktop">
                <% subcategories.forEach(subcategory => { %>
                    <a href="/products/subcategory/<%- subcategory %>/<%- category.id %>"><%- subcategory %></a>
                <% }) %>    
            </aside>
            <section class="container">
                <% products.forEach(element => { %>
                    <article class="card">
                        <a href="/products/detail/<%- element.id %> ">
                            <div class="card-image">
                                <img src="/images/<%- element.image  %> " alt="">
                            </div>
                        </a>
                        <div class="card-data">
                            <div class="icon">
                                <i class="fa-solid fa-eye"></i>
                            </div>
                            <h5 class="name">
                                <%- element.name  %>
                            </h5>
                            <div class="price">
                                <p>$<%- toThousand(element.price - element.price * element.discount / 100) %></p>
                                <p class="discount"><%- element.discount !== 0 ? `${element.discount}% OFF` : "" %></p>
                            </div>
                            <!-- <p class="quotes">6 cuotas de $660,00</p> -->
                        </div>
                    </article>
                <% }) %>
            </section>
        
        </div>
    </main>


    <%- include('partials/footer.ejs')%>
    <script src="/javascripts/categoriesSidePanel.js"></script>
    
</body>
</html>