 <!-- Flickity 2 HTML init -->
 <div class="carousel2" data-flickity='{ "autoPlay": true }'>

    <% products.forEach(element => { %>
        <div class="carousel-cell">
            <article class="card2">
                <a href="/products/detail/<%- element.id %> ">
                    <div class="card-image2">
                        <img src="/images/<%- element.image  %> " alt="">
                    </div>
                </a>
                <div class="card-data2">
                    <div class="icon2">
                       <i class="fa-solid fa-eye"></i>
                    </div>
                    <h5 class="name2">
                        <% if (element.name.length > 30) { %>
                            <%- `${element.name.slice(0,30)}...` %>
                        <% } else { %>
                            <%= element.name %>
                        <% } %>
                    </h5>
                    <div class="price2">
                        <p>$<%- toThousand(element.price - element.price * element.discount / 100) %></p>
                        <p class="discount2"><%- element.discount !== 0 ? `${element.discount}% OFF` : "" %></p>
                    </div>
                    <!-- <p class="quotes2">6 cuotas de $660,00</p> -->
                </div>
            </article>
        </div>
     
    <% }) %>
    
</div>